# https://github.com/denseidel/saas-platform-template/blob/master/devops/frontend-preview/azure-pipelines.yaml
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

pr:
  branches:
    include:
    - master
  paths:
    include:
    - /
    exclude:
    - README.md
    - /adr/*
    - .adr-dir

pool:
  vmImage: 'Ubuntu-16.04'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '8.x'
  displayName: 'Install Node.js'
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.6'
    architecture: 'x64'
- script: |
    cd ./scripts && pip install -r requirements.txt && python deploy.py -c service 
  env:
      AWS_ACCESS_KEY_ID: $(aws.accesskey)
      AWS_SECRET_ACCESS_KEY: $(aws.accesssecret)
  displayName: 'build service'
- script: |
    cd ./scripts && python deploy.py -c infrastucture -ni True
  env:
      AWS_ACCESS_KEY_ID: $(aws.accesskey)
      AWS_SECRET_ACCESS_KEY: $(aws.accesssecret)
  displayName: 'deploy infrastructure'

- script: |
    cd ui
    yes | npm install bit-bin -g
    echo "@bit:registry=https://node.bit.dev" >> ~/.npmrc
    echo //node.bitsrc.io/:_authToken={$BIT_NODE_TOKEN} >> ~/.npmrc
    echo "//node.bit.dev/:_authToken={$BIT_NODE_TOKEN}" >> ~/.npmrc
    bit build 
    bit tag --all 0.0.2
    bit login
    bit export denseidel.saas-platform
  env:
    BIT_NODE_TOKEN: $(bit.nodetoken)
  displayName: 'build and release ui'